body {
    background-color: rgb(127, 225, 255);
    font-family: sans-serif;
}

.todoCard {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    width: 350px;
    background-color: rgba(128, 128, 128, 0.658);
    border-radius: 10px;
}

.todoText {
    padding-left: 10px;
}

.todoList {}

.btn-delete {
    margin: 3px;
    border-radius: 10px;
    width: 30px;
}

.form {
    margin: 5px;
    margin-top: 30px;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.inputForm {
    width: 300px;
    height: 30px;
    margin-right: 5px;
    border-radius: 8px;
    padding-left: 5px;
}

.btn-add {
    border-radius: 10px;
    width: 50px;
}